@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.image {
	width: 500px;
	height: 500px;
	background-image: url('../img/react-logo.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	float: left;
	animation: rotation 18s infinite linear normal;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	left: calc(50% - 250px);
	opacity: .2;
}
.main {
	width: 800px;
	margin: 0 auto;
	padding-top: 15px;
	h1 {
		position: relative;
		z-index: 10;
		margin-bottom: 15px;
	}
	.main_text-deco {
		border-bottom: 1px dashed #2db7f5;
		a {
			text-decoration: none;
		}
	}
	h2 {
		position: relative;
		z-index: 10;
		line-height: 51px;

		img {
			line-height: inherit;
			vertical-align: middle;
		}
	}

	p {
		position: relative;
		z-index: 10;
		margin-top: 15px;
		font-size: 19px;
	}
}
.contact {
	width: 800px;
	margin: 0 auto;
	padding-top: 15px;
	h1 {

	}
	h2 {

	}
}
.all-pages {
	width: 800px;
	margin: 0 auto;
	padding: 15px 0;
}
.movies {
	width: 800px;
	margin: 0 auto;
}

.quotes_search-form {
	width: 800px;
	margin: 0 auto;
	padding-top: 15px;
	input {
		border: 1px dashed #2db7f5;
		border-radius: 5px;
		color: #666;
    	padding: 9px 32px;
    	text-align: center;
    	text-decoration: none;
    	display: inline-block;
    	font-size: 16px;
    	margin: 15px 0 10px 0;
    	cursor: pointer;
		outline: 0;
	}
	button {
		background-color: #2db7f5;
    	border: none;
		border-radius: 5px;
    	color: white;
    	padding: 10px 32px;
    	text-align: center;
    	text-decoration: none;
    	display: inline-block;
    	font-size: 16px;
    	margin: 15px 5px 10px 5px;
    	cursor: pointer;
		outline: 0;
	}

	select {
		background-color: transparent;
		border: 1px dashed #2db7f5;
		padding: 10px 32px;
		display: inline-block;
		height: 38px;
		font-size: 16px;
		outline: 0;
	}

}

blockquote {
    text-align: justify;
    background: #f9f9f9;
    border-left: 10px solid rgba(45,183,245, .6);
    margin: 1.5em 10px;
    padding: .5em 10px;
	display: block;
}

blockquote:before {
	color: #ccc;
	content: "\"";
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
}

body, a {
    color: #222;
}

blockquote p {
    display: inline;
}

h3, p {
    padding: 0 0 10px;
    margin: 10px 0 0;
	display: block;
}

a.pages {
	text-decoration: none;
	font-size: 16px;
}

a.active {
	color: #2db7f5;
}
.movies-header {
	float: left;
	margin: 15px 15px;
}
.movies-button {
	background-color: #2db7f5;
	border: none;
	border-radius: 5px;
	color: white;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 15px 15px;
	cursor: pointer;
	outline: 0;
	float: right;
}
.clearfix {
	&:before, &:after {
		content: '';
		display: table;
		clear: both;
	}
}
.tags {
	width: 800px;
	margin: 0 auto;
	padding-top: 15px;
	font-size: 19px;
	span {
		padding-right: 5px;
	}
	.tag-different {
		color: #2db7f5;
	}
}
.quotes {
	width: 800px;
	margin: 0 auto;
}

.tronald_page-buttons {
	width: 800px;
	margin: 0 auto;
	button {
		background-color: #2db7f5;
    	border: none;
		border-radius: 5px;
    	color: white;
    	padding: 5px 16px;
    	text-align: center;
    	text-decoration: none;
    	display: inline-block;
    	font-size: 14px;
    	margin: 15px 5px 10px 5px;
    	cursor: pointer;
		outline: 0;
	}
}
