* {
	margin: 0;
    padding: 0;
	box-sizing: border-box;
    font-family: $main-font;
}

body {
	background-color: rgba(45,183,245, .3);
}

.container {
	width: 900px;
	min-height: 700px;
	margin: 0 auto;
	background-color: white;
}
